<h5>Saved registers</h5>
<div class="registers-collection {{if registers 'collection'}}">
    {{#each registers as |register|}}
        <a href="#void" class="amber-text text-darken-1 collection-item" {{action "showRegisterDetails" register}}>
            {{register.label}}
        </a>
    {{else}}
        <em class="grey-text">No saved registers</em>
    {{/each}}
</div>
