<h4>Saved Registers</h4>
{{#each registers as |register|}}
    <div class="saved-register click" {{action "showRegisterDetails" register}}>
        {{register.label}}
    </div>
    {{else}}
    <span class="no-registers">No Saved Registers!</span>
{{/each}}
