@import "materialize";

$calc-button-height: 4rem;
$calc-whitespace: 6px;

.calculator-container {
    padding: 6px 6px 0;

    button {
        @extend .grey.lighten-2;

        display: block;
        font-size: 1.618rem;
        height: $calc-button-height;
        width: 100%;
    }

    .screen {
        height: $calc-button-height;
        font-size: 2.618rem;
        padding: 0 $calc-whitespace;
    }

    /**
        Adjust Materialize grid for calculator (reduce whitespace)
     */
    .row {
        margin: 0 -3px $calc-whitespace;

        .col {
            padding: 0 3px;
        }
    }

}
