<div class="row section">
    <div class="col s4">
        <button class="btn-flat waves-effect waves-light" {{action "goBack"}}>
            <i class="material-icons left">chevron_left</i>
            Go back
        </button>
    </div>
    <div class="col s8 right-align">
        <button class="btn-flat waves-effect waves-light" {{action "discardRegister"}}>Discard register</button>
        <button class="btn waves-effect waves-light" {{action "showSaveModal"}}>Save register&hellip;</button>
    </div>
</div>
<div class="row section">
    <div class="col s12 m6 offset-m3">
        {{partial "register"}}
    </div>
</div>
