<div class="register-container">
    <div class="register-review">{{{model.register}}}</div>
    <button {{action "goBack"}}>Go Back</button>
    <button{{action "discardRegister"}}>Discard Register</button>
    <button {{action "showSaveModal"}}>Save Register</button>
</div>
