<div class="register-container">
    <div class="register-review">{{{model.register}}}</div>
    <button {{action "goBack"}}>Go Back</button>
    <button{{action "deleteRegister" model}}>Delete Register</button>
</div>
